<form name="addForumForm" action="{action}" method="POST">

<table class="showTable">
<tr>
  <th colspan="2">Новое сообщество</td>
</tr>
<tr>
  <td>Название сообщества:</td>
  <td><input type="text" name="title" value="{title}" maxlength="120" style="width:400px" /></td>
</tr>
<tr>
  <td>Описание:</td>
  <td><textarea name="description" style="width:400; height: 100">{description}</textarea></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" name="sendForm" value="Сохранить" /></td>
</tr>
</table>

</form>