<form name='editThemeForm' action="{action}" method="POST">

<table class="showTable">
<tr>
  <th colspan="2">Править тему</th>
</tr>
<tr>
  <td width="30%">Сообщество:</td>
  <td width="70%">
  <select name="id_forum" style="width:400px">
  {options}
  </select>
  </td>
</tr>
<tr>
  <td>Тема:</td>
  <td><input type="text" name="name" maxlength="128" value="{name}" style="width:400px" /></td>
</tr>
<tr>
  <td>Автор:</td>
  <td><input type="text" name="author" value="{author}" disabled style="width:400px" /></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" name="sendForm" value="Сохранить" /></td>
</tr>
</table>

</form>
