<FORM ACTION="" METHOD="POST"> 
<P CLASS="bold">Логин<BR> 
<INPUT TYPE="TEXT" NAME="login" VALUE="" SIZE="10" MAXLENGTH="15" required></P> 
<P CLASS="bold">Пароль<BR> 
<INPUT TYPE="password" NAME="password" VALUE="" SIZE="10" MAXLENGTH="15" required></P>

<P><INPUT TYPE="SUBMIT" NAME="submit" VALUE="Войти"></P>
</FORM>

<!-- ссылка на регистрацию, ведь как-то же должны гости туда попадать  --> 
<P><a href="register.php">Зарегистрироваться</a></P>

<!-- ссылка на восстановление пароля  --> 
<P><a href="send_pass.php">Забыли пароль?</a></P>