<table class="showTable">
<tr>
  <th colspan="2">Профиль пользователя {name}</th>
</tr>
<tr>
   <td width="30%">Имя:</td>
   <td width="70%">{first_name}</td>
</tr>
<tr>
   <td >Фамилия:</td>
   <td >{last_name}</td>
</tr>
<tr>
   <td >Дата регистрации:</td>
   <td >{date}</td>
</tr>
<tr>
   <td>Статус:</td>
   <td>{status}</td>
</tr>
<tr>
   <td>Последнее посещение:</td>
   <td>{lastvisit}</td>
</tr>
<tr>
   <td>Последнее сообщение:</td>
   <td>{lastpost}</td>
</tr>
<tr>
   <td>Всего сообщений:</td>
   <td>{totalposts}</td>
</tr>
<tr>
   <td>Домашняя страничка:</td>
   <td>{url}</td>
</tr>
<tr>
   <td>Номер в ICQ:</td>
   <td>{icq}</td>
</tr>
<tr>
   <td>Интересы:</td>
   <td>{about}</td>
</tr>
</table>